<form (submit)="handleSubmit()" #form="ngForm">
    <label > Nom de la Filière:
      <input type="text" [(ngModel)]="filiere.libelle" name="libelle">
    </label>
   <br>
   <!-- <label > ID des Modules:
      <input type="text" formControlName="modules" >
    </label>
    <br>
    <label > ID des Stagiaires:
      <input type="text" formControlName="stagiaires" >
    </label> -->
    <br>
    <br>
    <button>Valider</button>
</form> 

<p *ngIf="createdFiliere !== null"> La fillière {{ createdFiliere.libelle }} a bien été crée</p>
